:root {
  --blacken: #0c0c0ce1;
  --blackblackgrey: #0c0c0c;
  --blackgrey: #1c1c1c;
  --red: #ae2c2c;
  --red-highlight: #c83e3e;
  --blood-red: #a90d0d;
  --blood-red-highlight: #c31010;
  --whitewhitegrey: #e0dede;
  --whitegrey: #9b9b9b;
  --radius: 1vw;
  --font-height:5vh;
  --font-height-normal: 4vh;
  --font-height-alert: 3vh;
  --swift-animation:350ms;
  --box-back: linear-gradient(90deg, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 0) 7%, rgba(28, 28, 28, 1) 13%, rgba(28, 28, 28, 1) 86%, rgba(28, 28, 28, 0) 90%, rgba(28, 28, 28, 0) 100%);
}

@font-face { font-family: Medieval; src: url('../../resources/fonts/DwarvenAxe\ BB\ W00\ Regular.ttf'); } 
      

html,body{
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  color: var(--whitewhitegrey);
  font-family: Medieval;
  cursor: url("../../resources/game_page/pageres/arrow.png"),auto;
}

label {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.btn {
  cursor: url("../../resources/game_page/pageres/arrow_highlight.png"), auto;
  transition:  350ms ease-in-out;
}

.pop-up-alert{
  position: absolute;
  display: none;
  height: fit-content;
  width: 20%;
  left: 39%;
  top: 49%;
  background-color:var(--blackgrey);
  border: 1vw solid transparent;
  border-radius: var(--radius);
  z-index: -3;
  font-size: var(--font-height-alert);
  word-wrap: break-word;
  animation: load-in-rightl 750ms ease-out forwards, unload-in-topb 350ms 750ms forwards;
  text-align: center;
}

.content-back-back {
  background-color: black;
  z-index: -4;
  }

input {
  cursor: url("../../resources/game_page/pageres/arrow_text.png"), auto;
}