.form-text {
  margin-top: 13%;
}

.content-back {
    background-repeat: no-repeat;
    background-size:100vw;
    background-image: url("../../resources/media/back/sign_in_back.png");
    animation: back-lighting 500ms infinite alternate-reverse ease-in-out;
    z-index: -3;
}
  


.btn {
  display: block;
  font-size: 2vw;
  text-align: center;
  background-color: var(--blackgrey);
  z-index: 2;
  margin-bottom: 1vw;
}

.btn:nth-of-type(1) {
  margin-top: 1vw;
}

.btn:hover, .btn:nth-of-type(2):hover ~ .btn-box{
  background-color: var(--blood-red);
}

@-webkit-keyframes back-lighting {
    0% {
        filter:  saturate(150%) blur(0.5px);  
    }
    100% {
      filter:  saturate(200%) blur(0.9px);
    }
  }

  @keyframes back-lighting {
    0% {
        filter:  saturate(150%) blur(0.5px);  
    }
    100% {
      filter:  saturate(200%) blur(0.9px);
    }
  }