.content-back {
    background-repeat: no-repeat;
    background-size:100vw;
    background-image: url("../../resources/game_page/back/pyro_hall.png");
    animation: back-lighting 500ms infinite alternate-reverse ease-in-out;
    z-index: -3;
}
  
.content-back-back {
background-color: var(--blackblackgrey);
z-index: -4;
}


@-webkit-keyframes back-lighting {
    0% {
        filter:  saturate(150%) blur(0.5px);  
    }
    100% {
      filter:  saturate(200%) blur(0.9px);
    }
  }

  @keyframes back-lighting {
    0% {
        filter:  saturate(150%) blur(0.5px);  
    }
    100% {
      filter:  saturate(200%) blur(0.9px);
    }
  }