.container{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

.container > div {
    display: inline-block;
    font-size: 1.5vw;
    margin-left: 7%;
}

.dif-info.container > div {
    display: inline-block;
    font-size: 1.5vw;
    margin-left: 9%;
}

.back {
    width: 0;
    height: 0;
    border-top: 1vh solid transparent;
    border-right: 2vh solid var(--blackgrey);
    border-bottom: 1vh solid transparent;
}

.forw {
    width: 0;
    height: 0;
    border-top: 1vh solid transparent;
    border-left: 2vh solid var(--blackgrey);
    border-bottom: 1vh solid transparent;
}

.sub-sub-box.side .back ,.sub-sub-box.side .forw {
    position: relative;
    top: 50%;
    left: 10%;
}

.sub-sub-box.side .back {
    width: 0;
    height: 0;
    border-top: 3vh solid transparent;
    border-right: 6vh solid var(--blackgrey);
    border-bottom: 3vh solid transparent;
}

.sub-sub-box.side .forw {
    width: 0;
    height: 0;
    border-top: 3vh solid transparent;
    border-left: 6vh solid var(--blackgrey);
    border-bottom: 3vh solid transparent;
}

.btn-start {
    margin-top: 15%;
    margin-left: 18%;
    height: 30%;
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 
        inset -1vh 0 0 var(--blackgrey),
        inset 0 -1vh 0 var(--blackgrey),
        inset 1vh 0 0 var(--blackgrey),
        inset 0 1vh 0 var(--blackgrey);
    background-color: var(--blackblackgrey);
    text-align: center;
    font-size: 2vw;
}

.btn-start:hover {
    background-color: var(--blood-red);
    color: var(--blackblackgrey);
}

.forw:hover {
    border-top: 1vh solid transparent;
    border-left: 2vh solid var(--whitewhitegrey);
    border-bottom: 1vh solid transparent;
}

.back:hover {
    border-top: 1vh solid transparent;
    border-right: 2vh solid var(--whitewhitegrey);
    border-bottom: 1vh solid transparent;
}

.sub-sub-box.side .forw:hover {
    border-top: 3vh solid transparent;
    border-left: 6vh solid var(--whitewhitegrey);
    border-bottom: 3vh solid transparent;
}

.sub-sub-box.side .back:hover {
    border-top: 3vh solid transparent;
    border-right: 6vh solid var(--whitewhitegrey);
    border-bottom: 3vh solid transparent;
}

.Ruins {
    background-image: url("../../resources/game_page/back/ruin_main.png");
    transition: 300ms ease-out;
    animation: back-lighting 450ms infinite alternate-reverse ease-in-out;
}

.Grave {
    background-image: url("../../resources/game_page/back/grave_main.png");
    transition: 300ms ease-out;
    animation: back-lighting 450ms infinite alternate-reverse ease-in-out;
}

.Woods {
    background-image: url("../../resources/game_page/back/forest_main.png");
    transition: 300ms ease-out;
    animation: back-lighting 450ms infinite alternate-reverse ease-in-out;
}

.Swamp {
    background-image: url("../../resources/game_page/back/swamp_main.png");
    transition: 300ms ease-out;
    animation: back-lighting 650ms infinite alternate-reverse ease-in-out;
}

.Fire {
    background-image: url("../../resources/game_page/back/pyro_main.png");
    transition: 300ms ease-out;
    animation: back-lighting 450ms infinite alternate-reverse ease-in-out;
}

#loc-name, #dif-name, .btn{
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;   
}

#loc-name{
    width: 48%;
}

#dif-name {
    min-width: 30%;
}


@-webkit-keyframes back-lighting {
    0% {
        filter:  saturate(150%) blur(0.5px);  
    }
    100% {
      filter:  saturate(200%) blur(0.9px);
    }
  }
  
@keyframes back-lighting {
    0% {
        filter:  saturate(150%) blur(0.5px);  
    }
    100% {
        filter:  saturate(200%) blur(0.6px);
    }
}