.hp {
    height: 2vh;
}

.hp-bar {
    position: relative;
    margin-left: 5%;
    margin-top: 2px;
    height: 70%;
    width: 90%;
    background-color: greenyellow;
    transition: 350ms ease-out;
}

.char-ui {
    position: absolute;
    top: 15%;
    border-radius: 1vh;
    width: 10vw;
    height: 4vh;
    background-color: var(--blackblackgrey);
}

/*
    155x206
*/

.char {
    margin-left: 3%;
    width: 20vh;
    aspect-ratio: 0.85;
    background-size: 100% 100%;
    background-image: url("../../resources/game_page/char/default/base.png");
}

#user-char {
    position: absolute;
    border: 1px solid red;
}

#monster-char {
    position: absolute;    
    transform: scaleX(-1);
    border: 1px solid blue;
}

#user-ui.char-ui {
    position: absolute;
    left: 5%;
}

#monster-ui.char-ui {
    position: absolute;
    right: 5%;
}

.en {
    bottom: 0%;
    height: 2vh;

}

.en-bar {
    position: relative;
    margin-left: 5%;
    height: 25%;
    width: 90%;
    background-color: aquamarine;
    transition: 350ms ease-out;
}