
.main-box {
    height: 90%;
    width: 90%;
    top: 5%;
}


.explore-box, .battle-box{
    position: absolute;
    height: 100%;
}

.explore-box {
    width: 45%;
    left: 0;
    top: 0;
    
}

.battle-box {
    width: 55%;
    right: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.map {
    position: absolute;
    width: 55vh;
    aspect-ratio: 1;
    left: 15vh;
    top: 10vw;
    display: grid;
    
}

.battlefield-box,.skill-box {
    position: absolute;
    width: 100%;
}

.battlefield-box {
    height: 40%;
    width: 91%;
    top: 12%;
    background-size: 100% 100%;
    z-index: -1;
    animation: back-lighting 750ms infinite alternate-reverse ease-in-out;
    border: 1vh solid transparent;
    border-image: var(--border-x);
}

.skill-box {
    left:0;
    bottom: 0;
    height: 42%;
}

.btn-view {
    position: absolute;
    height: 4vw;
    width: 36.7vh;
    left:5%;
    top: 0;
    border: 1vh solid transparent;
    border-image: var(--border-x) ;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#sk0,#sk1,#sk2,#sk3 {
    position: relative;
    display: inline-block;
}

.btn.skill {
    position: absolute;
    height: 4vw;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
}

.skill-desc-box {
    position: absolute;
    width: 40%;
    height: 35%;
    right: 15%;
    top: -3%;
    border: 1vh solid transparent;
    border-image: var(--border-x) ;
}

.skill-box,.map{
    z-index: 5;
}

.main-box-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../resources/media/back/game_page_back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    
    
}

.main-box-forw {
    position: absolute;
    left: 0;
    top: -1%;
    height: 102%;
    width: 100%;
    background-image: url("../../resources/media/back/game_page_forw.png");
    background-position: center;
    z-index: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}
.main-curtain-box {
    position: absolute;
    right: 10vh;
    top: -1%;
    height: 102%;
    width: 50%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
}

.main-curtain {
    height: 110%;
    width: 100%;
    background-image: url("../../resources/media/pageres/curtains.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: 350ms all;
    
}
.main-curtain:hover {
    color: white;
}



.unload {
    animation: unload-in-topb 750ms forwards;
    pointer-events: none;
}

.load {
    animation: load-in-bottomt 200ms ease-out forwards;
    pointer-events: all;
}

.active-curtain {
    transform: translateY(-72%);
}

@-webkit-keyframes back-lighting {
    0% {
        filter: saturate(150%) blur(0.5px);
    }

    100% {
        filter: saturate(200%) blur(0.9px);
    }
}

@keyframes back-lighting {
    0% {
        filter: saturate(150%) blur(0.5px);
    }

    100% {
        filter: saturate(200%) blur(0.6px);
    }
}